
.jp-card1 {
    width: 250px !important;
    border: 2px solid rgba(188, 227, 33, 0.913) !important;
    background-color: black !important;
    color: #ffc107 !important;
  }
  

.img-card {
    width: 200px !important;
}


@media (max-width: 764px) {

  
.jp-card1 {
    width: 210px !important;
  }

  .img-card {
    width: 150px !important;
}

  
}